/*!Estilos de texto*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/*font-family: 'Poppins', sans-serif;*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
/*!Empezando con con firstmovil */
body {
    background-image: url(/images/bg-intro-mobile.png);
    background-color:hsl(0, 100%, 74%);
    padding: 75px 25px 50px 25px;
}
/*?editando header */
.titulo {
    text-align: center;
    color: #fff;
    font-size: 1.7em;
    font-weight: 700;
    padding: 9px 0;
    line-height: 1.5;
}
.descripcion {
    color: #fff;
    opacity: .75;
    text-align: center;
    padding: 15px 0 65px 0;
}
/*? Editando la cosa antes del formulario*/
.cardoferta{
    background-color: hsl(248, 32%, 49%);
    color: #fff;
    padding: 20px 75px;
    text-align: center;
    border-radius: 10px;
    font-weight: 400;
}
span {
    opacity: .75;
}
/*? editando el formulario*/
.cardformgeneral {
    background-color: #fff;
    margin-top: 25px;
    padding: 20px;
    border-radius: 10px;
}
input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    border-color: hsla(246, 25%, 77%, .1);
    color: hsl(246, 25%, 77%);
    font-weight: 700;
    font-size: .85em;
}
.boton {
    width: 100%;
    background-color: hsl(154, 59%, 51%);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 0;
    font-weight: 600;
}
.boton:hover {
    color: hsl(154, 59%, 51%);
    background-color: #fff;
    border: 1px solid hsl(154, 59%, 51%);
}
.cardindicacion {
    color: hsl(246, 25%, 77%);
    text-align: center;
    font-weight: 700;
    font-size: .70em;
    padding: 15px 15px;
}
.terms {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
    font-size: 1em;
}
/*!Editar para destop*/
@media screen and (min-width: 1440px) {
    body {
        background-image: url(/images/bg-intro-desktop.png);
        background-size: cover;
        padding: 0;
    }
    .container {
        display: flex;
        flex-direction: row;
        height: 100vh;
        align-items: center;
    }
    /*?editando el cardtitulo*/
    .titulo {
        font-size: 3em;
        padding: 0px 100px 0 100px;
        line-height: 1.2;
    }
    .descripcion {
        text-align: left;
        padding: 20px 50px 0 157px;
    }
    /*?editando el formulario*/
    .cardtitulo {
        width: 50%;
    }
    .formulario {
        width: 50%;
        padding-right: 155px;
    }
    .cardformgeneral {
        padding: 30px;
    }
}